.drawing-area {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 512px;
    height: 512px;
}


/* .canvas-container {
    width: 20px;
    height: 40px;
    position: relative;
    user-select: none;
} */

#nail-div {
    width: 512px;
    height: 512px;
    position: relative;
    z-index: 5;
    border-color: #f6050500;
    border-width: 10px;
    border-style: solid;
    background-color: #ffffff;
}


/* #canvas {
    position: absolute;
    width: 150px;
    height: 400px;
    left: 0px;
    top: 0px;
    user-select: none;
    cursor: default;
} */