.drawing-area {
    position: absolute;
    top: 60px;
    left: 122px;
    z-index: 10;
    width: 200px;
    height: 400px;
}

.canvas-container {
    width: 200px;
    height: 500px;
    position: relative;
    user-select: none;
}

#nail-div {
    width: 452px;
    height: 548px;
    position: relative;
    background-color: #fff;
}

#canvas {
    position: absolute;
    left: 200px;
    top: 0px;
    user-select: none;
    cursor: default;
}